{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">สรุปรายงาน (Reports)</h2>

<div id="costChartDataContainer" 
     data-labels='{{ cost_data.labels|tojson|safe }}'
     data-values='{{ cost_data.data|tojson|safe }}'
     style="display: none;">
</div>

<div id="jobTypeChartDataContainer"
     data-labels='{{ job_type_data.labels|tojson|safe }}'
     data-values='{{ job_type_data.data|tojson|safe }}'
     style="display: none;">
</div>


<div class="row">
    <div class="col-lg-8 mb-4">
        <div class="card">
            <div class="card-header">
                กราฟสรุปค่าใช้จ่ายในการซ่อมบำรุง (รายเดือน)
            </div>
            <div class="card-body">
                <canvas id="costChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card">
            <div class="card-header">
                กราฟสรุปประเภทของงานซ่อม
            </div>
            <div class="card-body">
                <canvas id="jobTypeChart"></canvas>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{{ url_for('static', filename='js/reports-chart.js') }}"></script>
{% endblock %}